<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- redis  config  start -->
    <!-- 配置JedisPoolConfig实例 -->
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="${redis.maxIdle}" />
        <property name="maxTotal" value="${redis.maxActive}" />
        <property name="maxWaitMillis" value="${redis.maxWait}" />
        <property name="testOnBorrow" value="${redis.testOnBorrow}" />
    </bean>

    <!-- 配置JedisConnectionFactory -->
    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="hostName" value="${redis.host}"/>
        <property name="port" value="${redis.port}"/>
<!--         <property name="password" value="${redis.pass}"/> -->
        <property name="poolConfig" ref="poolConfig"/>
    </bean>

    <!-- 配置RedisTemplate -->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory"/>
    </bean>
    
    <!-- 配置StringRedisTemplate -->
    <bean id="StringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory"/>
    </bean>

    <!-- 配置RedisCacheManager -->
    <bean id="redisCacheManager" class="org.springframework.data.redis.cache.RedisCacheManager">
        <constructor-arg name="redisOperations" ref="redisTemplate" />
        <property name="defaultExpiration" value="${redis.expiration}"/>
    </bean> 

    
    <!-- 自定义实现的redis管理类 -->
    <bean class="com.smile.webchat.cache.RedisManager">
    	<property name="host" value="${redis.host}"/>
        <property name="port" value="${redis.port}"/>
      <!--   <property name="password" value="${redis.pass}"/> -->
    	<property name="poolConfig" ref="poolConfig"></property>
    </bean>
    
<!--     <bean id="stringRedis" class="com.smile.webchat.cache.StringRedis">
    	<property name="connectionFactory" ref="jedisConnectionFactory" />  
    </bean>
    <bean id="hashMapRedis" class="com.smile.webchat.cache.HashMapRedis">
    	<property name="connectionFactory" ref="jedisConnectionFactory" />  
    </bean> -->

    <!-- redis  config  end -->

</beans>